<launch>
    <arg name="joy_dev"    default="$(optenv SPOT_JOY_DEVICE /dev/input/js0)" />
    <arg name="joy_config" default="$(eval optenv('SPOT_JOY_CONFIG', find('spot_navigation') + '/config/teleop.yaml'))" />
    <rosparam command="load" file="$(arg joy_config)" />
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="jetson_inference" type="ros_inference_node" name="ros_inference_node" />
</launch>