<launch>
 
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="frontleft"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/frontleft/camera_info"/>
    <remap from="image_rect" to="/spot/depth/frontleft/image"/>
    <remap from="points" to="/pointcloud/frontLeft"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="frontright"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/frontright/camera_info"/>
    <remap from="image_rect" to="/spot/depth/frontright/image"/>
    <remap from="points" to="/pointcloud/frontright"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="left"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/left/camera_info"/>
    <remap from="image_rect" to="/spot/depth/left/image"/>
    <remap from="points" to="/pointcloud/left"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="right"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/right/camera_info"/>
    <remap from="image_rect" to="/spot/depth/right/image"/>
    <remap from="points" to="/pointcloud/right"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="back"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/spot/depth/back/camera_info"/>
    <remap from="image_rect" to="/spot/depth/back/image"/>
    <remap from="points" to="/pointcloud/back"/>
  </node>

  <node pkg="concatenate_pointclouds" type="concatenate_pointclouds_node" name="concatenate_pointclouds_node" output="screen">
  </node>

 

</launch>
